@use 'styles/variables' as *;
@use 'styles/reset';
@use 'styles/typography';
@use 'styles/layout';

body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-sans;
  line-height: 1.6;
}
